
* {
  box-sizing: border-box;
}
/*** media query desktops/tablets/ipads***/
@media (min-width: 1200px) {
  body{
    background-color: yellow;
  }
  
  .nav.navbar-nav.navbar-right{
    display: none;
  }
  #c1, #c2, #c3 {
     border: 1px solid black;
      width: 100%;
      margin-bottom: 8px;
      margin-right: 5px;
      height: auto;
      background: #ccc;
      position: relative;
      display: inline-block;
  }
  #chicken,#beaf,#sushi{
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

  .nav.navbar-nav.navbar-right{
    display: none;
  }
  #c1, #c2, #c3 {
     border: 1px solid black;
      width: 100%;
      margin-bottom: 8px;
      margin-right: 5px;
      height: auto;
      background: #ccc;
      position: relative;
      display: inline-block;
  }
  #chicken,#beaf,#sushi{
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .nav.navbar-nav.navbar-right{
    display: none;
  }
  #c1, #c2, #c3 {
      border: 1px solid black;
      width: 100%;
      margin-bottom: 8px;
      margin-right: 5px;
      height: auto;
      background: #ccc;
      position: relative;
      display: inline-block;
  }
  #chicken,#beaf,#sushi{
    height: 30px;
    text-align: center;
    font-weight: bold;
  }
}

/*** media query mobiles***/
@media (max-width: 767px) {
  #c1, #c2, #c3 {
     border: 1px solid black;
     width: 100%;
     height: auto;
     margin-bottom: 10px;
     background: #ccc;
     display: table;
  }
  #chicken,#beaf,#sushi{
    align-items: center;
    height: 30px;
    text-align: center;
    font-weight: bold;
  }
  body{
    background-color: black;
  }

.navbar-toggle{
    border:none !important;
  }
  .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
 .navbar .navbar-collapse {
        text-align: center;
   }
  .nav.navbar-nav.navbar-right {
  list-style: none;
  border: 1px solid #84B6D0;
  width: 100%;
}
#list{
  border: 1px solid #84B6D0;
  width: 100%;
}

}

#pargraphText{
  float:left; 
  clear: left;
  margin: 30px;
}
#container {
  clear: both;
}
#contentContainer{
  margin: 15px;
}
.navbar-default{
    background-color: #862f38;
}
.navbar.navbar-default{
  background-color: pink;
}
.navbar-brand a{
  text-align: center;
  font-family: "Comic Sans MS", Times, serif;
  font-style: bold;
  color: blue;

}
.navbar-header a.navbar-brand {
  text-align: center;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  font-family: "Comic Sans MS", Times, serif;
}
h1{
  text-align: center;
  font-family: "Comic Sans MS", Times, serif;
  font-style: bold;
}
